.bubble {
    position: absolute;
    background-color: hsla(139, 87%, 67%, 1.0);
}

.bubbles {
    position: absolute;
    /* background-color: rgba(255, 228, 196, 0.75); */
}
.bubbles1 {
    top: 0rem;
    left: -7rem;
    width: 30rem;
    height: 15rem;
}
.bubbles2 {
    top: -5rem;
    left: -0rem;
    width: 30rem;
    height: 10rem;
}
.bubbles3 {
    bottom: 0rem;
    right: -7rem;
    width: 30rem;
    height: 15rem;
}

.bubbles4 {
    bottom: -5rem;
    right: 0rem;
    width: 30rem;
    height: 10rem;
}
