name: Deploy VOOO Noticeboards

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install rsync
      run: sudo apt-get -y install rsync

    - name: Copy build to server
      env:
        DEPLOY_KEY: ${{ secrets.SSH_KEY }}
      run: |
        mkdir -p ~/.ssh
        echo "$DEPLOY_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        rsync -avz -e "ssh -o StrictHostKeyChecking=no" . theron@194.13.83.192:/home/theron/vooo-board/build/public

    - name: Run build script on server
      run: ssh -o StrictHostKeyChecking=no theron@194.13.83.192 'bash /home/theron/vooo-board/build.sh'
